<template>
	<div>
		<Uploader />
		<FileNames />
		<AuthorDisambiguation />
		<CitationList />
		<Download />
	</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import FileNames from './FileNames.vue';
import Uploader from './Uploader.vue';
import Download from './Download.vue';
import CitationList from './CitationList.vue';
import AuthorDisambiguation from './AuthorDisambiguation.vue';

export default {
	'components': { Uploader, FileNames, CitationList, Download, AuthorDisambiguation }
}
</script>

<style>
#app {
	margin: 2em;
}
h3 {
	font-weight: bold;
	font-size: medium;
	margin-left: 2em;
}
</style>
