<template>
	<div class="author-search" v-if="$store.state.bibtex.length">
		<h3>Author disambiguation helper</h3>
		<p class="info">If you find when visualizing your citations that the same author is represented by multiple variations of their name, you can use this search to find all the variations and choose a canonical form for them.</p>
		<input class="form-control disam search" type="text" placeholder="Author search..." @keyup="searchNames" @focus="searchNames" />
		<div v-if="$store.state.authorResults.length">
			<div class="fold">
				<p class="check-helpers">
					<button class="btn btn-small" @click="checkAllAuthors">Check all</button>
					<button class="btn btn-small" @click="checkNoAuthors">Check none</button>
				</p>
				<ol class="author-results">
					<li v-for="author in $store.state.authorResults">
						<input type="checkbox" :data-name="author.name" />
						<span class="name" @click="setPreferredName" title="Click to choose this name as the preferred format">{{ author.name }}</span>
						<span class="count">{{ author.count }}</span>
					</li>
				</ol>
				<p>
					<input type="text" class="form-control disam geo" placeholder="(optional) ZIP code or City, State, Country" @keydown="setGeoUndecided" @change="geolookup" />
					<input class="form-control disam choice" type="text" placeholder="Click above or type to choose preferred format..." />
					<button class="form-control combine btn btn-primary" @click="foldAuthors">Combine selected names</button>
				</p>
			</div>
			<div v-if="$store.state.lastAuthorFold.matches" class="undo">
				<h3>Changed to <em>{{$store.state.lastAuthorFold.name}}</em>:</h3>
				<ol class="last-fold">
					<li v-for="match in $store.state.lastAuthorFold.matches">{{match.count}}x <em>{{match.name}}</em></li>
				</ol>
				<button class="form-control btn" @click="undo">Undo</button>
			</div>
		</div>
		<p class="clear"></p>
	</div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
	'methods': mapActions([ 'searchNames', 'setPreferredName', 'checkAllAuthors', 'checkNoAuthors', 'foldAuthors', 'undo', 'setGeoUndecided', 'geolookup' ])
}
</script>

<style>
.clear {
	clear: both;
}
.bad {
	background: #fcc !important;
}
.good {
	background: #cfc !important;
}
.author-results.loading {
	opacity: 0.5;
	background-repeat: no-repeat;
	background-image: url('/app/components/com_erc-citations/site/dist/throbber.gif');
	background-position: 560px;
}
.undo, .fold {
	width: 500px;
	float: left;
}
.undo {
	margin-left: 4em;
}
.undo h3, .undo ol {
	margin-left: 0;
}
.last-fold {
	max-height: 300px;
	overflow: auto;
}
.author-search .info {
	margin-left: 2em;
	width: 500px;
}
.check-helpers {
	margin-left: 3em;
	font-size: x-small;
}
.check-helpers button {
	display: inline-block;
}
.author-results {
	max-height: 300px;
	width: 500px;
	overflow: auto;
}
.disam {
	margin: 2em;
	margin-bottom: 0;
	margin-top: 0;
	width: 500px;
}
.combine {
	margin-left: 2em;
}
.disam.choice {
	margin-top: 0;
	margin-right: 0;
}
.author-search {
	margin-bottom: 2em;
}
.author-results {
	list-style: none;
}
.author-results .count:after {
	content: ' citations';
}
.author-results .count {
	font-style: italic;
}
.author-results .name {
	cursor: pointer;
	font-weight: bold;
}
</style>
