<template>
	<div v-if="$store.state.bibtex.length > 0">
	<h3>Citations</h3>
	<ol class="citations">
		<li v-for="(cite, citeIdx) in $store.state.bibtex" title="Click to edit" @click="showEditor(cite)" class="entry">
			<button v-if="cite.removed" class="toggler btn btn-sm btn-primary" @click.stop.prevent="restoreEntry(cite.id)">+</button>
			<button v-else class="toggler btn btn-sm btn-danger" @click.stop.prevent="removeEntry(cite.id)">X</button>
			<div :class="{ 'removed': cite.removed }">
				<span class="type">
					{{ cite.entryType }}
					<span class="published" v-if="cite.entryTags.booktitle">&mdash; {{ cite.entryTags.booktitle }}</span>
					<span class="published" v-if="cite.entryTags.journal">&mdash; {{ cite.entryTags.journal }}</span>
				</span>
				<span class="title"> {{ cite.entryTags.title }}</span>
				<span class="authors"> {{ cite.entryTags.author.join(' and ') }}</span>
				<CitationEditor :cite="cite" :citeIdx="citeIdx" />
			</div>
		</li>
	</ol>
	</div>
</template>

<script>
import { mapActions } from 'vuex';
import CitationEditor from './CitationEditor.vue';

export default {
	'components': { CitationEditor },
	'methods': mapActions([ 'showEditor', 'getEntryClass', 'removeEntry', 'restoreEntry' ])
}
</script>

<style>
.citations .entry .removed {
	opacity: 0.2;
}
.citations .toggler {
	float: right;
	padding: 2px 5px;
	display: none;
	position: relative;
	z-index: 100;
}
.citations .btags li {
	width: 830px;
}
.citations .entry:hover .toggler {
	display: block;
}

.citations .btags {
	list-style: none;
}
.citations .btags input.key {
	text-align: right;
}
.citations .btags .name.editable {
	text-align: right;
}
.citations .btags .name {
	width: 100px;
	padding-right: 4px;
	text-align: right;
	display: inline-block;
}
.citations .btags .value {
	width: 700px;
	display: inline-block;
}
.citations .btags li .toggler {
	visibility: hidden;
	margin-top: -32px;
}
.citations .btags li:hover .toggler {
	visibility: visible;
}
.citations .editor button {
	padding: 3px 6px;
}
.citations .editor .add {
	margin-top: -3px;
}
.citations {
	list-style: none;
	cursor: pointer;
	padding: 0;
}
.citations li.entry {
	margin-bottom: 10px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px 6px;
}
.citations .type {
	color: #07409b;
	display: inline-block;
}
.citations .title {
	font-weight: bold;
}
.citations .authors {
	display: block;
	font-style: italic;
}
</style>
