<template>
	<div class="editor" :id="'edit-' + cite.id">
		<ul class="btags form-group">
			<li v-for="tag in cite.tagList" v-if="tag.key !== 'geocoding'" :data-tag="JSON.stringify(tag)" :class="{ 'author': tag.key === 'author' }">
				<div :class="{ 'removed': tag.removed }">
					<ol v-if="tag.key == 'author'" class="author-editor form-group">
						<li v-for="(author, idx) in tag.value">
							<input type="text" class="author form-control" :value="author" @focus="getSimilarNames" @blur="hideSimilarNames" />
							<p class="similar-label">Similar hub users:</p>
							<ol class="similar" />
							<div class="sex" :data-author-name="author" :data-cite-id="cite.id">
								<button @click.stop.prevent="changeSex" data-value="" :class="{ 'btn': true, 'btn-sm': true, 'lft': true, 'active': !$store.state.authorMeta[author].sex }">Unreported</button>
								<button @click.stop.prevent="changeSex" data-value="f" :class="{ 'btn': true, 'btn-sm': true, 'lft': true, 'active': $store.state.authorMeta[author].sex == 'f' }">Female</button>
								<button @click.stop.prevent="changeSex" data-value="m" :class="{ 'btn': true, 'btn-sm': true, 'lft': true, 'active': $store.state.authorMeta[author].sex == 'm' }">Male</button>
							</div>
							<input type="text" class="form-control role" placeholder="Role..." :data-author-name="author" :value="$store.state.authorMeta[author].role" @change="changeRole" />
							<input type="text" placeholder="ZIP code or City, State, Country" :value="cite.entryTags.geocoding[idx][0]"
								 :class="{ 'good': !!cite.entryTags.geocoding[idx][1], 'place': true, 'form-control': true }"
								 :data-idx="JSON.stringify({ 'citation': citeIdx, 'author': idx })"
								 @keydown="setGeoUndecided" @change="geolookup" />
						</li>
					</ol>
					<div v-else-if="tag.key != 'authorMeta' && tag.key != 'note'">
						<span class="name">{{ tag.key }}:</span>
						<input class="form-control value" type="text" :value="tag.value" @change="editTag" />
					</div>
				</div>
				<span v-if="tag.key != 'author'">
					<button v-if="tag.removed" class="toggler btn btn-sm btn-primary" @click.stop.prevent="restoreTag(tag)">+</button>
					<button v-else class="toggler btn btn-sm btn-danger" @click.stop.prevent="removeTag(tag)">X</button>
				</span>
			</li>
			<li class="next" :data-citation-id="cite.id">
				<form @submit.stop.prevent="addTag">
					<span class="name editable"><input class="form-control key" type="text" /></span><input type="text" class="form-control value" />
					<button type="submit" class="add btn btn-sm btn-primary" @click="addTag">+</button>
				</form>
			</li>
		</ul>
		<p><button class="btn btn-sm btn-primary hider" @click.stop.prevent="hideEditor(cite.id)">Hide editor</button></p>
	</div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
	'props': [ 'cite', 'citeIdx' ],
	'methods': mapActions([ 'hideEditor', 'addTag', 'editTag', 'removeTag', 'restoreTag', 'getSimilarNames', 'hideSimilarNames', 'geolookup', 'setGeoUndecided', 'changeSex', 'changeRole' ]),
	'mounted': () => {
		$('input.role').autocomplete({
			'source': [ 'student', 'staff', 'postdoc', 'faculty' ]
		});
	}
}

</script>

<style>
.ui-autocomplete.ui-menu {
	background: #f0f0f0 !important;
	list-style: none;
	border: 1px solid #ddd;
	border-top: 0;
	padding: 6px;
	width: 500px;
	cursor: pointer;
}
div.sex {
	width: 512px;
}
.sex button {
	width: 32%;
	font-weight: x-small;
	background: #f3f3f3;
	color: rgb(97, 137, 158);
}
.sex button.active {
	font-weight: bold;
	border: 1px inset;
	color: #f3f3f3;
	background: rgb(97, 137, 158);
}
.sex button.lft {
	clear: left;
}
.similar {
	font-size: small;
	list-style: none;
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	border-radius: 6px;
	border: 2px solid #f3f3f3;
	border-top: 0;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	width: 500px;
	margin: 0;
	padding-left: 15px;
}
.similar-label {
	width: 500px;
	border: 2px solid #f3f3f3;
	border-bottom: 0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #07409b;
	font-size: small;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 10px;
}
.similar, .similar-label {
	display: none;
}
.citations .editor-open .authors {
	display: none;
}
.author-editor .form-control {
	width: 500px;
}
.author-editor .form-control.place {
}
.author-editor .form-control.place.bad {
	background: #fcc;
}
.author-editor .form-control.place.good {
	background: #cfc;
}
.author-editor {
	width: 600px;
	display: inline-block;
	padding-bottom: 1em;
	border-bottom: 1px solid #ddd;
	margin-bottom: 1.5em;
	margin-left: 103px;
	list-style: none;
}
.citations .editor {
	display: none;
}
.citations .editor .hider {
	width: 100px;
	margin-left: 141px;
}
.citations .editor {
	margin-top: 1em;
}
</style>
