<template>
	<div v-if="$store.state.bibtex.length" class="floating actions">
		<button class="btn btn-primary download" @click="downloadBibTeX">Download</button><span class="viz-lbl">or visualize:</span>
		<button class="viz btn btn-primary" @click="visualizeCoAuthorship">Co-authorship Network</button>
		<button class="viz btn btn-primary" @click="visualizeJournals">Science Map</button>
		<button class="viz btn btn-primary" @click="visualizeAuthorGeolocation">Co-authorship Geomap</button>
		<p class="info">Visualizations open in a new window, ensure you have enabled popups for the hub.</p>
	</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
	'methods': mapActions([ 'downloadBibTeX', 'downloadEndNote', 'visualizeJournals', 'visualizeCoAuthorship', 'visualizeAuthorGeolocation' ])
}
</script>

<style>
.actions.floating {
	width: 100%;
	position: fixed;
	bottom: 12px;
	background: #edf3ff;
	border: 2px solid #bcd6ff;
	border-radius: 2px;
	padding-bottom: 0;
	left: 0;
	z-index: 10;
}
.actions {
	padding: 8px;
	border: 1px solid #ddd;
	background: #f3f3f3;
}
.actions .viz-lbl {
	font-weight: bold;
	padding-left: 10px;
	padding-right: 5px;
}
.actions .download {
	background-image: url('/app/components/com_erc-citations/site/dist/download.png');
	background-repeat: no-repeat;
	background-position: 6px 5px;
	padding-left: 30px;
}
.actions button {
	cursor: pointer;
	border-radius: 4px;
}
.actions .info {
	float: right;
	margin-top: -7px;
	background-color: transparent;
	color: #333 !important;
	font-style: italic;
}
</style>
