<template>
	<ul class="file-names">
		<li v-for="file in $store.state.files">
				<div :class="file.state + ' ' + file.type">
					<strong><tt>{{ file.name }}</tt></strong>
					<span v-if="file.count" class="entries">
						{{ file.count }} entries
						<span v-if="file.dupes" class="dupes">
							({{ file.dupes }} duplicates)
						</span>
					</span>
				</div>
		</li>
	</ul>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
	'methods': mapGetters([ 'getClassForFile' ])
}
</script>

<style>
.file-names {
	list-style: none;
	padding-left: 8px;
	font-style: italic;
	margin-top: 10px;
}
.file-names .queued {
	padding-left: 26px;
	background: url('/app/components/com_erc-citations/site/dist/throbber.gif') no-repeat top left;
}
</style>
