<template>
	<form class="upload"
		@dragover.prevent
		@dragenter.prevent
		@dragleave.prevent
		@drop.prevent="processFiles"
		>
		<input @change="processFiles" id="file" type="file" multiple accept=".bib,.bibtex" />
		<label for="file">Drag <strong>BibTeX</strong> files here, or click to browse</label>
	</form>
</template>

<script>
import { mapActions } from 'vuex';

export default {
	'methods': mapActions([ 'processFiles' ])
}
</script>

<style>
.upload {
	margin-top: 1em;
	width: 100%;
	height: 120px;
	background: #f3f3f3;
	background: repeating-linear-gradient(
		135deg,
		#f7faff,
		#f7faff 10px,
		#edf3ff 10px,
		#edf3ff 20px
	);
	border: 2px solid #bcd6ff;
	color: #07409b;
	font-family: sans-serif;
	border-radius: 8px;
	display: block;
	position: relative;
	box-shadow: 10px 10px 32px -13px rgba(0,0,0,0.25);
}
.upload:hover {
	border: 4px solid #bcd6ff;
	box-shadow: 5px 5px 52px -13px rgba(0,0,0,0.55);
}
.upload input {
	display: none !important;
}
.upload label {
	line-height: 120px;
	width: 100%;
	text-align: center;
	display: inline-block;
	font-size: large;
}
</style>
